@use '../mixins.scss' as *;

@mixin active-link {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

.container {
  @include flex-display(row, space-between);

  height: var(--nav-height);
  border-bottom: var(--border-complete);
  padding: 0 4vw;
  box-sizing: border-box;
  background-color: var(--layer-00);

  .left {
    @include flex-display(row);

    gap: 4em;

    .logo {
      $side: calc(var(--nav-height) - 1.5em);
      width: $side;
      height: $side;
      border-radius: 100em;
      object-fit: cover;
    }

    ul {
      @include flex-display(row);

      gap: 2em;

      .navLink {
        text-decoration: none;
        color: var(--text-03);
        text-underline-offset: 0.5em;
        font-weight: 600;

        &.activeLink {
          @include active-link();
        }

        &:hover {
          @include active-link();
        }
      }
    }
  }

  .buttonContainer {
    @include flex-display(row);

    gap: 1.5vw;
  }
}
