@use '../mixins.scss' as *;

@mixin active-link {
  color: var(--color-primary-dark);
  text-decoration: underline;
}

.container {
  @include flex-display(row, space-between);

  position: sticky;
  top: 0;
  height: var(--nav-height);
  border-bottom: var(--border-complete);
  padding: 0 4vw;
  box-sizing: border-box;
  background-color: var(--layer-00);
  z-index: 99;

  ul {
    @include flex-display(row);

    gap: 2em;

    li {
      list-style-type: none;
    }
  }

  .left {
    @include flex-display(row);

    gap: 4em;

    .logo {
      $side: calc(var(--nav-height) - 1.5em);
      width: $side;
      height: $side;
      border-radius: 100em;
      object-fit: cover;
    }

    .navLink {
      text-decoration: none;
      color: var(--text-03);
      text-underline-offset: 0.5em;
      font-weight: 600;

      &.activeLink {
        @include active-link();
      }

      &:hover {
        @include active-link();
      }
    }
  }

  .toolbar {
    @include flex-display(row);

    ul {
      gap: 1.5vw;
    }
  }
}
